article {
    padding-bottom: 150px;
}

article h1 {
    font-size: 32px;
    font-family: sans-serif;
    line-height:36px;
    padding:10px 10px 15px;
}

article p {
    font-size: 18px;
    padding: 10px 15px 10px ;
    line-height: 20px
}

.right {
    float:right;
}

article img.right {
    width:50%;
    padding:10px;
}

.center {
    text-align: center;
}

.video, .news {
    margin: 20px auto;
}

#footer-links {
    margin: 20px auto;
    text-align: center;
    color: white;
}

#footer-links a {
    color: white;
    text-decoration:none
}

aside ul li a {
    color:#2AAAC7;
    text-decoration: none;
    font-size: 20px;
}

aside li {
    padding: 5px;
}

